<div id="leftbar__custom" (click)="$event.stopPropagation()">
    <div id="leftbar__container" data-bs-spy="scroll" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <div class="left-bar__item">
            <app-select-item (click)="goHome()" title="Trang chủ"></app-select-item>

            <app-select-item (click)="goUserLogin()" icon="fas fa-compass" title="Đăng nhập"></app-select-item>

            <app-select-item (click)="goCreateUser()" icon="fab fa-youtube" title="Tạo tài khoản"></app-select-item>
        </div>

        <div class="left-bar__item">
            <app-select-item (click)="goCreateVideo()" icon="fas fa-book" title="Thêm videos"></app-select-item>
            <app-select-item icon="fas fa-history" title="Video đã xem"></app-select-item>
            <app-select-item icon="fas fa-play-circle" title="Video của bạn"></app-select-item>
            <app-select-item icon="far fa-clock" title="Xem sau"></app-select-item>
            <app-select-item icon="fas fa-thumbs-up" title="Video đã thích"></app-select-item>
            <!-- <app-select-item
                    icon="fas fa-angle-down"
                    title="Thêm"
                ></app-select-item> -->
        </div>

        <div class="left-bar__item">
            <p>KÊNH ĐĂNG KÝ</p>
            <app-user-item *ngFor="let user of users1" [user]="user">
            </app-user-item>

            <div *ngIf="display">
                <app-user-item *ngFor="let user2 of users2" [display]="display" [user]="user2">
                </app-user-item>
            </div>

            <div *ngIf="isUsers2" (click)="toggleUsers2()">
                <app-select-item [icon]="display ? 'fas fa-angle-up' : 'fas fa-angle-down'"
                    [title]="display ? title1 : title2"></app-select-item>
            </div>
        </div>

        <div class="left-bar__item">
            <p>DỊCH VỤ KHÁC CỦA YOUTUBE</p>
            <app-select-item icon="fas fa-gamepad" title="Trò chơi"></app-select-item>

            <app-select-item icon="fas fa-broadcast-tower" title="Sự kiện trực tuyến"></app-select-item>

            <app-select-item icon="fas fa-trophy" title="Thể thao"></app-select-item>
        </div>

        <div class="left-bar__item">
            <app-select-item icon="fas fa-cog" title="Cài đặt"></app-select-item>

            <app-select-item icon="fas fa-flag" title="Lịch sử báo cáo"></app-select-item>

            <app-select-item icon="fas fa-question-circle" title="Trợ giúp"></app-select-item>

            <app-select-item icon="fas fa-comment-dots" title="Phản hồi"></app-select-item>
        </div>
    </div>
</div>