.slide__btn {
    height: 32px;
    padding: 0 12px;
    margin: 12px 12px 12px 0;
    border-radius: 16px;
    border: 1px solid #ffffff1a;
    line-height: 32px;
    white-space: nowrap;
    cursor: pointer;
}