<div class="container">
    <div class="video__item" *ngFor="let video of videos">
        <a>
            <div class="watch__item" (click)="$event.stopPropagation()">
                <div class="item__img">
                    <img [src]="video.img" [alt]="video.name" />
                </div>
                <div class="video__name" (mouseover)="onMouseover()" (mouseleave)="onMouseleave()">
                    <!-- <img [src]="user.linkImg" [alt]="user.name" /> -->
                    <div class="description">
                        <div class="name">
                            <h4 [title]="video.name">{{ video.name }}</h4>
                        </div>
                        <div class="duration">
                            <p>
                                {{ video.views }} lượt xem
                                <i class="fas fa-circle"></i>
                            </p>
                            <p>5 tháng trước</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>