.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;

    cursor: pointer;
    z-index: 10000;
}

.btn-icon >div { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    color: #fff;
    text-decoration: none;
}

.btn-icon >div >i {
    font-size: 18px;
}

.border-color {
    border: 1px solid #0e0d0d;
}