<div class="comment-item__container" *ngIf="isShowComment">
    <div class="comment__item" (mouseover)="onMouseover()" (mouseleave)="onMouseleave()">
        <div class="item__img">
            <img [src]="user.linkImg" [alt]="user.name" />
        </div>

        <div class="item__content">
            <h6 class="item__user-name">
                {{ user.name }}
            </h6>
            <p class="item-content">
                {{ comment.content }}
            </p>
            <div class="item__btn">
                <div class="btn__item">
                    <app-btn-icon-small (click)="toggleLike()" icon="fas fa-thumbs-up"
                        [color]="isLike ? '#3ea6ff' : staticColor" [bgColor]="bgColor"></app-btn-icon-small>
                </div>
                <div *ngIf="toggleTotalLike()" class="btn__item">
                    <p class="total__like">{{ totalLike }}</p>
                </div>
                <div class="btn__item">
                    <app-btn-icon-small (click)="toggleUnlike()" icon="fas fa-thumbs-down"
                        [color]="isUnlike ? '#3ea6ff' : staticColor" [bgColor]="bgColor"></app-btn-icon-small>
                </div>
                <div class="btn__item">
                    <app-btn-normal (click)="OnResponseComment()" [color]="staticColor" bgColor="#181818"
                        name="PHẢN HỒI">
                    </app-btn-normal>
                </div>
            </div>
        </div>

        <div class="btn__setting">
            <app-btn-icon-small icon="fas fa-ellipsis-v" [color]="color" bgColor="#181818"
                (click)="toggleShowSetting()"></app-btn-icon-small>
            <div class="setting__items" *ngIf="isShowSetting">
                <app-select-item [title]="isAuth ? 'Xóa' : 'Báo cáo'" [icon]="isAuth ? 'fas fa-trash' : 'fas fa-flag'"
                    (click)="ShowConfirm()"></app-select-item>
            </div>
        </div>
    </div>

    <!-- response comment -->
    <div class="response__container">
        <div *ngIf="isShowResponseCommentInput" class="response__form-input">
            <app-form-input-response-comment (click)="getHideInputForm($event)" [commentId]="commentId"
                [videoId]="videoId">
            </app-form-input-response-comment>
        </div>

        <p *ngIf="isResponseComment" (click)="toggleResponseComment()" class="container__control">
            <i class="fas fa-caret-up"></i>
            {{ responseControl }}
        </p>
        <!-- response comments -->
        <div *ngIf="isShowResponseComment">
            <div *ngFor="let responseComment of responseComments" class="response-comments__container">
                <app-response-comment-item [responseComment]="responseComment" [commentId]="commentId"
                    [videoId]="videoId">
                </app-response-comment-item>
            </div>
        </div>
    </div>

    <!-- confirm action -->
    <div *ngIf="isShowConfirm">
        <app-confirm-action (cancelClick)="cancelConfirmAction()" (click)="confirmAction()" [isAuth]="isAuth">
        </app-confirm-action>
    </div>
</div>