<div class="container my-3 form__container">
    <form class="form__logging" (ngSubmit)="OnSubmit()">
        <div class="mb-3">
            <label for="name__acc" class="form-label">User name :</label>
            <input type="text" [(ngModel)]="user.name" name="user.name" class="form-control bg-dark text-white"
                id="name__acc" placeholder="user" />
        </div>

        <div class="mb-3">
            <label for="name__pass" class="form-label">Password :</label>
            <input type="password" [(ngModel)]="user.password" name="user.password"
                class="form-control bg-dark text-white" id="name__pass" placeholder="password" />
        </div>

        <div class="logging__btn">
            <button type="submit" class="btn btn-primary">LOGGING</button>

            <div class="nav__item">
                <a routerLink="/user">
                    <button type="button" class="btn btn-secondary">
                        CREAT USER
                    </button>
                </a>

                <a routerLink="/">
                    <button type="button" class="btn btn-danger">HOME</button>
                </a>
            </div>
        </div>
    </form>

</div>