/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 16px;
    background-color: #212121;
}

::-webkit-scrollbar-track {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    background-color: #909090;
    width: 16px;
    height: 56px;
    border-radius: 8px;
    border: 4px solid ;
}

a {
    text-decoration: none;
}

canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    padding: 0;
    margin: 0;
    font-size: 14px;
    border: 0;
}

html {
    overflow-x: hidden;
    background-color: #181818;
}